$black:#000;
$white:#fff;
$primery-color:#6A6A6A;
$secondary-color:#1C487E;
$link-primery-color:#E63339;


*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    ul{
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 0px;
        list-style: none;
    }
    a{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
}



// header section starts from here

header{
    background: $white;
    box-shadow: 0px 0px 5px 2px #ddd4d4;
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    .nav-button{
        display: none;
    }
    .logo{
        img{
            max-width: 90%
        }
    }
    nav{
        margin-left: 20px;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                a{
                    font-family: 'Roboto', sans-serif;
                    font-size: 15px;
                    font-weight: bold;
                    color: $black;
                    padding-bottom: 30px;
                    i{
                        font-size: 12px;
                        margin-left: 3px;                        
                    }
                }                
            }
            .header-nav-about{
                position: relative;
                ul{
                    border: 1px solid #eee;
                    border-radius: 5px;
                    position: absolute;
                    top: 80px;
                    left: -22px;
                    width: 160px;
                    background-color: $white;
                    flex-direction: column;
                    visibility: hidden;
                    display: flex;
                    li{
                        a{
                            display: block;
                            padding: 8px 10px 8px 20px;                            
                            font-size: 14px;
                        }                        
                        &:first-child{
                            border-bottom: 1px solid #eee;
                        }
                    }
                }
                &:hover{
                    ul{
                        transition: all 0.3s ease;
                        visibility: visible;
                        top: 50px;
                    }
                }
            }
            .header-nav-operations{
                position: relative;
                .deep-ul{
                    border-radius: 5px;
                    position: absolute;                    
                    display: flex;
                    background-color: #fff;
                    border: 1px solid #eee;
                    visibility: hidden;
                    top:100px;
                    left: -190px;
                    .sub-li{                     
                        .sub-deep-ul{
                            width: 230px;
                            display: flex;
                            flex-direction: column; 
                            .sub-deep-li{
                                border-top: 1px solid #eee;
                                a{
                                    // background-color: $white;
                                    display: block;
                                    padding: 8px 10px 8px 20px;                            
                                    font-size: 14px;
                                }
                                &:first-child{
                                    border-top:none;
                                }
                            }                           
                        }
                        &:first-child{
                            border-right: 1px solid #eee;
                        }
                    }
                }
                &:hover{
                    .deep-ul{
                        transition: all 0.3s ease;
                        visibility: visible;
                        top: 50px;
                    }
                }               
            }
        }
    }
    .header-icons{
        padding-left: 35px; 
        margin-top: 10px;      
        a{
            img{
                margin-left: 15px;
                width: 20px;           
            }
        }
    }
}

// header section ends here



.career{  
    margin: 130px 0px 50px 0;
    .heading{
        span{
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: bold;            
        }
        position: relative;
        &::after{
            position: absolute;
            content: '';
            top: 12px;
            left: 55px;
            width: 40px;
            height: 3px;
            background-color: $link-primery-color;
        }
        &::before{
            position: absolute;
            content: '';
            top: 12px;
            right: 55px;
            width: 40px;
            height: 3px;
            background-color: $link-primery-color;
        }
    }
    .about-tagline{
        span{
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: bold;
            color: $primery-color;
        }
    }
   .img{
       margin-top: 50px;
        img{
            width: 100%;
        }
   }
    form{     
        .form-data{        
            .labels{
                width: 20%;
                label{
                    font-family: 'Roboto', sans-serif;
                    padding-left: 15px;
                    font-weight: bold;
                    display: block;
                    margin-top: 40px;
                }
                label[for="subject"]{
                    margin-top: 48px;
                }
                label[for="message"]{
                    margin-top: 80px;
                }
            }
            .inputs{
                position: relative;
                width: 80%;
                input{
                    font-family: 'Roboto', sans-serif;
                    padding-left: 15px;
                    display: block; 
                    width: 100%;     
                    height: 40px;
                    border: 2px solid rgb(211, 204, 204);
                    border-radius: 8px; 
                    margin-top: 30px;
                }  
                textarea{
                    font-family: 'Roboto', sans-serif;
                    padding: 15px;
                    margin-top: 30px;
                    max-width: 100%;
                    width: 100%;
                    height: 100px;
                    border: 2px solid rgb(211, 204, 204);
                    border-radius: 8px;
                }
                p{
                    display: none;
                    position: absolute;
                    font-size: 14px;
                    color: red;
                    padding-left: 15px;
                } 
                label{
                    display: none;
                }         
            }        
        } 
        .submit-button{
            margin-top: 30px;
            text-align: center;
            input{
                font-family: 'Roboto', sans-serif;
            padding: 5px 20px ; 
            background-color: $secondary-color;
            color: $white;
            border-radius: 10px;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
            }
        }  
        .footer-contact-heading{
            h2{
                font-family: 'Roboto', sans-serif;
                color: $black;
                font-size: 22px;
                font-weight: bold;
            }
        }
        .tagline{
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: $black;
                a{
                    font-family: 'Roboto', sans-serif;
                    color: $black;
                    &:hover{
                        color: blue;
                    }
                }
            }
        } 
    }
}








.copyright{    
    margin-top: 50px;
    background-color: $secondary-color;
    p{
        font-family: 'Roboto', sans-serif;
        margin-top: 20px;
        margin-left: 8%;
        display: inline-block;
        color: $white;
        span{
            margin-left: 5px;
            font-family: 'Roboto', sans-serif;
            color: $white;
            font-weight: bold;
        }
    }
    .address{
        margin-left: 150px;
        font-family: 'Roboto', sans-serif;
        color: $white;
    }
}



// media queries
@media only screen and (max-width: 1200px) {

    header{
        .header-icons{
            padding-left: 0px;                        
        }
    }
    .career{
        .heading{
            &::after{
                left: 35px;
            }
            &::before{
                right: 35px;
            }
        }
    }

}

@media only screen and (max-width: 991px) {
    header{
        // margin-top: 20px;
        position: relative;
        .header-icons{
            text-align: right;
            position: absolute;
            top: 10px ;
            right: 250px;
            padding-left: 0px;                        
        }
        nav{
            display: none;
        }
        .nav-button{
            display: inline-block;
            position: absolute;
            top: 20px;
            right: 50px;
            font-size: 20px;
        }
        nav{            
            ul{                                             
                .header-nav-about{                  
                    ul{       
                        position: absolute;
                        z-index: 999;                 
                        top: 50px;
                        left: 260px;
                        width: 160px; 
                        li{
                            margin-bottom: 0px !important;
                        }                                                                       
                    }
                    &:hover{
                        ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 10px;
                        }
                    } 
                }
                .header-nav-operations{                    
                    .deep-ul{
                        flex-direction: row !important;
                        top:100px;
                        left: 190px; 
                    }
                    &:hover{
                        .deep-ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 50px;
                        }
                    }
                    &:hover{
                        .deep-ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 20px;
                        }
                    }      
                }                                        
            }
        }       
    }
    .career{
        margin: 50px 0px;
        .heading{
            &::after{
                left: 275px;
            }
            &::before{
                right: 275px;
            }
        }  
        form .form-data .labels {
            width: 25%;
        }     
    }    
    
    footer{
        .footer-card{
            .img{
                left: 40%;
            }
        }
    }
    .form{
        margin-top: 50px;  
        .form-data{        
            .labels{
                padding-left: 10%;
                width: 30%;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    header{
        .header-icons{
            right: 150px;
        }
        nav{
            ul{
                .header-nav-about{
                    ul{
                        top: 50px;
                        left: 380px;
                        width: 160px;  
                    }
                }
            }
        }
        nav{            
            ul{                                             
                .header-nav-about{                  
                    ul{       
                        position: absolute;
                        z-index: 999;                 
                        top: 50px;
                        left: 260px;
                        width: 160px; 
                        li{
                            margin-bottom: 0px !important;
                        }                                                                       
                    }
                    &:hover{
                        ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 20px;
                        }
                    } 
                }
                .header-nav-operations{                    
                    .deep-ul{
                        flex-direction: row !important;
                        top:100px;
                        left: 190px; 
                    }
                    &:hover{
                        .deep-ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 50px;
                        }
                    }
                    &:hover{
                        .deep-ul{
                            transition: all 0.3s ease;
                            visibility: visible;
                            top: 20px;
                            left: 10px;
                        }
                    }      
                }                                        
            }
        } 
        
    }
    
    .career{
        .about-us{
            margin-bottom: 30px;
        }        
        
    }    
    footer{
        .copyright{            
            .address{
                margin-left: 8%;
            }
        }
    }
    .career{
        .heading{
            &::after{
                left: 290px;
            }
            &::before{
                right: 290px;
            }
        }
        form{
            margin-top: 30px;
            .form-data{
                .labels{
                    display: none;
                }
                .inputs{
                    width: 95%;
                    input,textarea{
                        margin-top: 0px;
                        margin-bottom: 30px;
                        width: 100%;
                    }
                    label{
                        display: block;
                    }
                }
            }
        }
    }
    footer{
        .footer-card{
            .img{
                left: 37%;
            }
        }
    }
    .form{
        margin-top: 50px;  
        .form-data{        
            .labels{
               display: none;
            }
            .inputs{
                width: 100%;
                label{
                    margin-top: 0px;
                    display: block;
                }
                input{
                    margin-top: 0px;
                    margin-bottom: 30px;
                }
                textarea{
                    margin-top: 0px;
                }
                .name-error{
                    top: 60px;
                } 
                .email-error{
                    top: 155px;
                } 
                .subject-error{
                    top: 250px;
                } 
                .message-error{
                    top: 460px;
                } 
            }
        }
    }

}

@media only screen and (max-width: 567px) {
    header{
        .header-icons{
            display: none;
        }
        nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul{
            width: 150px;
            .sub-deep-li{
                margin-bottom: 5px !important;
                a{
                    font-size: 10px;
                    padding: 0;
                }
            }
        }
    } 
    footer{
        .copyright{            
            .address{
                margin-left: 8%;
            }
        }
    }
    .career{
        .heading{
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
    }
    footer{
        .copyright{
            bottom: 25px;
        }
    }

}