* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}
* ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
* a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.whatsaap-icon {
  position: fixed;
  bottom: 15px;
  right: 20px;
}
.whatsaap-icon i {
  font-size: 40px;
  color: #1bd741;
}

header {
  background: #fff;
  box-shadow: 0px 0px 5px 2px #ddd4d4;
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}
header .nav-button {
  display: none;
}
header .logo img {
  max-width: 90%;
}
header nav {
  margin-left: 20px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  padding-bottom: 30px;
}
header nav ul li a i {
  font-size: 12px;
  margin-left: 3px;
}
header nav ul .header-nav-about {
  position: relative;
}
header nav ul .header-nav-about ul {
  border: 1px solid #eee;
  border-radius: 5px;
  position: absolute;
  top: 80px;
  left: -22px;
  width: 160px;
  background-color: #fff;
  flex-direction: column;
  visibility: hidden;
  display: flex;
}
header nav ul .header-nav-about ul li a {
  display: block;
  padding: 8px 10px 8px 20px;
  font-size: 14px;
}
header nav ul .header-nav-about ul li:first-child {
  border-bottom: 1px solid #eee;
}
header nav ul .header-nav-about:hover ul {
  transition: all 0.3s ease;
  visibility: visible;
  top: 50px;
}
header nav ul .header-nav-operations {
  position: relative;
}
header nav ul .header-nav-operations .deep-ul {
  border-radius: 5px;
  position: absolute;
  display: flex;
  background-color: #fff;
  border: 1px solid #eee;
  visibility: hidden;
  top: 100px;
  left: -190px;
}
header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul {
  width: 230px;
  display: flex;
  flex-direction: column;
}
header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul .sub-deep-li {
  border-top: 1px solid #eee;
}
header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul .sub-deep-li a {
  display: block;
  padding: 8px 10px 8px 20px;
  font-size: 14px;
}
header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul .sub-deep-li:first-child {
  border-top: none;
}
header nav ul .header-nav-operations .deep-ul .sub-li:first-child {
  border-right: 1px solid #eee;
}
header nav ul .header-nav-operations:hover .deep-ul {
  transition: all 0.3s ease;
  visibility: visible;
  top: 50px;
}
header .header-icons {
  padding-left: 35px;
  margin-top: 10px;
}
header .header-icons a img {
  margin-left: 15px;
  width: 20px;
}

.career {
  margin: 130px 0px 50px 0;
}
.career .heading {
  position: relative;
}
.career .heading span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.career .heading::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 55px;
  width: 40px;
  height: 3px;
  background-color: #E63339;
}
.career .heading::before {
  position: absolute;
  content: "";
  top: 12px;
  right: 55px;
  width: 40px;
  height: 3px;
  background-color: #E63339;
}
.career .about-tagline span {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #6A6A6A;
}
.career .img {
  margin-top: 50px;
}
.career .img img {
  width: 100%;
}
.career form .form-data .labels {
  width: 20%;
}
.career form .form-data .labels label {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  font-weight: bold;
  display: block;
  margin-top: 40px;
}
.career form .form-data .labels label[for=subject] {
  margin-top: 48px;
}
.career form .form-data .labels label[for=message] {
  margin-top: 80px;
}
.career form .form-data .inputs {
  position: relative;
  width: 80%;
}
.career form .form-data .inputs input {
  font-family: "Roboto", sans-serif;
  padding-left: 15px;
  display: block;
  width: 100%;
  height: 40px;
  border: 2px solid rgb(211, 204, 204);
  border-radius: 8px;
  margin-top: 30px;
}
.career form .form-data .inputs textarea {
  font-family: "Roboto", sans-serif;
  padding: 15px;
  margin-top: 30px;
  max-width: 100%;
  width: 100%;
  height: 100px;
  border: 2px solid rgb(211, 204, 204);
  border-radius: 8px;
}
.career form .form-data .inputs p {
  display: none;
  position: absolute;
  font-size: 14px;
  color: red;
  padding-left: 15px;
}
.career form .form-data .inputs label {
  display: none;
}
.career form .submit-button {
  margin-top: 30px;
  text-align: center;
}
.career form .submit-button input {
  font-family: "Roboto", sans-serif;
  padding: 5px 20px;
  background-color: #1C487E;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.career form .footer-contact-heading h2 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.career form .tagline p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
}
.career form .tagline p a {
  font-family: "Roboto", sans-serif;
  color: #000;
}
.career form .tagline p a:hover {
  color: blue;
}

.copyright {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  background-color: #1C487E;
}
.copyright p {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
.copyright p span {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}
.copyright .address {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  header .header-icons {
    padding-left: 0px;
  }

  .career .heading::after {
    left: 35px;
  }
  .career .heading::before {
    right: 35px;
  }
}
@media only screen and (max-width: 991px) {
  header {
    position: relative;
  }
  header .header-icons {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 250px;
    padding-left: 0px;
  }
  header nav {
    display: none;
  }
  header .nav-button {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 20px;
  }
  header nav ul .header-nav-about ul {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 260px;
    width: 160px;
  }
  header nav ul .header-nav-about ul li {
    margin-bottom: 0px !important;
  }
  header nav ul .header-nav-about:hover ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 10px;
  }
  header nav ul .header-nav-operations .deep-ul {
    flex-direction: row !important;
    top: 100px;
    left: 190px;
  }
  header nav ul .header-nav-operations:hover .deep-ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 50px;
  }
  header nav ul .header-nav-operations:hover .deep-ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 20px;
  }

  .career {
    margin: 50px 0px;
  }
  .career .heading::after {
    left: 275px;
  }
  .career .heading::before {
    right: 275px;
  }
  .career form .form-data .labels {
    width: 25%;
  }

  footer .footer-card .img {
    left: 40%;
  }

  .form {
    margin-top: 50px;
  }
  .form .form-data .labels {
    padding-left: 10%;
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  header .header-icons {
    right: 150px;
  }
  header nav ul .header-nav-about ul {
    top: 50px;
    left: 380px;
    width: 160px;
  }
  header nav ul .header-nav-about ul {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 260px;
    width: 160px;
  }
  header nav ul .header-nav-about ul li {
    margin-bottom: 0px !important;
  }
  header nav ul .header-nav-about:hover ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 20px;
  }
  header nav ul .header-nav-operations .deep-ul {
    flex-direction: row !important;
    top: 100px;
    left: 190px;
  }
  header nav ul .header-nav-operations:hover .deep-ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 50px;
  }
  header nav ul .header-nav-operations:hover .deep-ul {
    transition: all 0.3s ease;
    visibility: visible;
    top: 20px;
    left: 10px;
  }

  .career .about-us {
    margin-bottom: 30px;
  }

  footer .copyright .address {
    margin-left: 8%;
  }

  .career .heading::after {
    left: 290px;
  }
  .career .heading::before {
    right: 290px;
  }
  .career form {
    margin-top: 30px;
  }
  .career form .form-data .labels {
    display: none;
  }
  .career form .form-data .inputs {
    width: 95%;
  }
  .career form .form-data .inputs input, .career form .form-data .inputs textarea {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
  .career form .form-data .inputs label {
    display: block;
  }

  footer .footer-card .img {
    left: 37%;
  }

  .form {
    margin-top: 50px;
  }
  .form .form-data .labels {
    display: none;
  }
  .form .form-data .inputs {
    width: 100%;
  }
  .form .form-data .inputs label {
    margin-top: 0px;
    display: block;
  }
  .form .form-data .inputs input {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .form .form-data .inputs textarea {
    margin-top: 0px;
  }
  .form .form-data .inputs .name-error {
    top: 60px;
  }
  .form .form-data .inputs .email-error {
    top: 155px;
  }
  .form .form-data .inputs .subject-error {
    top: 250px;
  }
  .form .form-data .inputs .message-error {
    top: 460px;
  }
}
@media only screen and (max-width: 567px) {
  header .header-icons {
    display: none;
  }
  header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul {
    width: 150px;
  }
  header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul .sub-deep-li {
    margin-bottom: 5px !important;
  }
  header nav ul .header-nav-operations .deep-ul .sub-li .sub-deep-ul .sub-deep-li a {
    font-size: 10px;
    padding: 0;
  }

  footer .copyright .address {
    margin-left: 8%;
  }

  .career .heading::after {
    display: none;
  }
  .career .heading::before {
    display: none;
  }

  footer .copyright {
    bottom: 25px;
  }
}/*# sourceMappingURL=career.css.map */